abnf==1.1.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.2.0
bip-utils==2.9.3
bitarray==2.9.2
cbor2==5.6.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
ckzg==1.0.1
coincurve==19.0.1
crcmod==1.7
crypto==1.4.1
cytoolz==0.12.3
ecdsa==0.19.0
ed25519-blake2b==1.4.1
eth-account==0.10.0
eth-hash==0.7.0
eth-keyfile==0.8.0
eth-keys==0.5.0
eth-rlp==1.0.1
eth-typing==3.5.2
eth-utils==2.3.1
eth_abi==5.1.0
frozenlist==1.4.1
hexbytes==0.3.1
idna==3.7
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
lru-dict==1.2.0
multidict==6.0.5
Naked==0.1.32
parsimonious==0.10.0
protobuf==5.26.1
py-sr25519-bindings==0.2.0
py_crypto_hd_wallet==1.3.3
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.0
pydantic_core==2.18.1
PyNaCl==1.5.0
python-dateutil==2.8.2
pyunormalize==15.1.0
PyYAML==6.0.1
referencing==0.34.0
regex==2024.4.16
requests==2.31.0
rlp==4.0.0
rpds-py==0.18.0
shellescape==3.8.1
siwe==2.4.1
six==1.16.0
toolz==0.12.1
typing_extensions==4.11.0
urllib3==2.2.1
web3==6.17.2
websockets==12.0
yarl==1.9.4
langchain==0.1.16 
langchain-chroma==0.1.0
langchain-openai==0.1.3
chromadb==0.4.23