.idx-flex {
	display: flex;

	&.idx-row {
		&::before, &::after {
			content: none;
		}
	}

	.idx-col-auto {
		width: fit-content;
	}
	&-col {
		display: flex;
		flex-direction: column;
	}

	&-wrap {
		flex-wrap: wrap;
	}

	&-nowrap {
		flex-wrap: nowrap;
	}

	&-a-end {
		align-items: flex-end;
	}

	&-a-start {
		align-items: flex-start;
	}

	&-a-center {
		align-items: center;
	}

	&-j-start {
		justify-content: flex-start;
	}

	&-j-end {
		justify-content: flex-end;
	}

	&-j-center {
		justify-content: center;
	}

	&-j-between {
		justify-content: space-between;
	}

	&-j-around {
		justify-content: space-around;
	}

	&-j-evenly {
		justify-content: space-evenly;
	}

	@for $i from 0 to 12 {
		&-grow-#{$i} {
			flex-grow: $i;
		}

		&-shrink-#{$i} {
			flex-shrink: $i;
		}

		&-flex-#{$i} {
			flex-grow: $i;
		}

		&-order-#{$i} {
			order: $i;
		}
	}

	@each $breakpoint, $values in $spacing {
		@for $i from 0 through 12 {
			&-gap-#{$i} {
				gap: map-get($values, #{$i});
			}
			&-row-gap-#{$i} {
				row-gap: map-get($values, #{$i});
			}
			&-col-gap-#{$i} {
				column-gap: map-get($values, #{$i});
			}

			&.idx-flex-row-gutter-#{$i} {
				margin-left: - map-get($values, #{$i});
				margin-right: - map-get($values, #{$i});
			}
		}
	}
}