.footer-container {
	background-color: $gray-5;
	width: 100%;
	overflow: hidden;
	transition: $transition-bg;
	
	.footer-menu {
		display: flex;
		gap: 2.4rem;
		align-items: center;
	}
	&.footer-bordered {
		border-top: $border-base;
	}

	&.footer-sticky {
		position: sticky;
		bottom: 0;
		z-index: map-get($z-index, "footer");
	}

	.footer-title {
		font-size: 4rem;
		line-height: 4.92rem;
	}

	.footer {
		height: 100%;
		flex: 1;

		.idxflex-container {
			height: 100%;
			width: 100%;
		}

		& .footer-menu-right {
			margin-left: auto;
		}
	}
}
