.footer-container {
	@include responsive-sizes-flat($footer-height, "height");
	background-color: $gray-1;
	width: 100%;
	overflow: hidden;
	transition: $transition-bg;

	&.footer-bordered {
		border-top: $border-base;
	}

	&.footer-sticky {
		position: sticky;
		bottom: 0;
		z-index: map-get($z-index, "footer");
	}

	.footer {
		height: 100%;
		flex: 1;

		.idxflex-container {
			height: 100%;
			width: 100%;
		}

		& .footer-menu-right {
			margin-left: auto;
		}
	}
}
