.footer-logo{
	margin-left:740px;
	width: 119px;
	height: 32px;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.footer-container {
	background-color: $gray-5;
	width: 100%;
	overflow: hidden;
	transition: $transition-bg;

	.footer-menu {
		display: flex;
		gap: 2.4rem;
		align-items: center;
		margin-top: 2.4rem;
		margin-bottom: 4rem;
	}
	&.footer-bordered {
		border-top: $border-base;
	}

	&.footer-sticky {
		position: sticky;
		bottom: 0;
		z-index: map-get($z-index, "footer");
	}
	.footer-title {
		font-size: 2.4rem;
		line-height: 2.9rem;
		margin-top: 4rem;
	}

	.footer {
		height: 100%;
		flex: 1;

		.idxflex-container {
			height: 100%;
			width: 100%;
		}

		& .footer-menu-right {
			margin-left: auto;
		}
	}

	@media (min-width: map-get($breakpoints, "sm")) {
		background-color: $gray-5;
		width: 100%;
		overflow: hidden;
		transition: $transition-bg;

		.footer-menu {
			display: flex;
			gap: 2.4rem;
			align-items: center;
			margin-bottom: 0;
		}
		&.footer-bordered {
			border-top: $border-base;
		}

		&.footer-sticky {
			position: sticky;
			bottom: 0;
			z-index: map-get($z-index, "footer");
		}

		.footer-title {
			margin-top: 0;
			font-size: 4rem;
			line-height: 4.92rem;
		}

		.footer {
			height: 100%;
			flex: 1;

			.idxflex-container {
				height: 100%;
				width: 100%;
			}

			& .footer-menu-right {
				margin-left: auto;
			}
		}
	}
}
