.navbar-container {
	@include responsive-sizes-flat($navbar-height, "height");
	width: 100%;
	transition: $transition-bg;

	&.navbar-bordered {
		border-bottom: $border-base;
	}

	&.navbar-sticky {
		position: sticky;
		top: 0;
		z-index: map-get($z-index, "navbar");
	}

	.navbar {
		height: 100%;
		flex: 1;

		.idxflex-container {
			height: 100%;
			width: 100%;
		}

		& .navbar-menu-right {
			margin-left: auto;
		}
		& .navbar-menu-left {
			display: inline-flex;
			align-items: center;
		}
		.navbar-logo {
			height: 2.6rem;
			cursor: pointer;
		}

		@media (min-width: map-get($breakpoints, "sm")) {
			.navbar-logo {
				height: 3.2rem;
			}
		}
	}
}
