@import "../abstratcs/variables", "../abstratcs/mixins", "../abstratcs/functions";

.idx-button {
	@include no-select;
	@include responsive-sizes($input-height, "height");

	border: none;
	border-radius: $border-radius-base;
	padding: map-deep-get($spacing, "xs", "4") map-deep-get($spacing, "xs", "6");
	line-height: 0;
	font-weight: 500;
	background-color: $main-color;
	color: $white;

	&:hover {
		transition: $transition-bg;
		background-color: darken($main-color, $hover-darken);
	}

	&:active,
	&:visited {
		transition: none;
		background-color: lighten($main-color, $visited-lighten);
	}

	&[disabled] {
		cursor: not-allowed;
		background-color: map-get($button-bg, "disabled") !important;
	}

	@each $key, $value in $button-bg {
		&.idx-button-#{$key} {
			@if str-index($key, "outlined") != null {
				@include button-color($white, $value, $hover-darken, $visited-lighten, $transition-bg, $outlined: true);
			} @else {
				@include button-color($white, $value, $hover-darken, $visited-lighten, $transition-bg, $outlined: false);
			}
		}
	}

	&.idx-button-ghost {
		@include button-color($main-color, $white, $hover-darken, $visited-lighten, $transition-bg, $outlined: true);
		border: none;
	}

	&.idx-button-link {
		@include button-color($blue, $white, $hover-darken, $visited-lighten, $transition-bg, $outlined: true);
		border: none;
	}

	&.idx-button-block {
		display: block;
		width: 100%;
	}

	& + .idx-button {
		margin-left: map-deep-get($spacing, "xs", "3");
	}
}
