.idx-checkbox {
	@include no-select;
	@include responsive-sizes($input-height, "height");

	.idx-checkbox-container {
		display: block;
		cursor: pointer;
		.idx-checkbox-input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}

		.idx-checkbox-checkmark {
			height: map-deep-get($spacing, "xs", "6");
			width: map-deep-get($spacing, "xs", "6");
			display: inline-block;
			border: $border-base;
			border-radius: $border-radius-base;
			vertical-align: bottom;
			margin-right: map-deep-get($spacing, "xs", "3");
			transition: $transition-bg;
			&::after {
				content: "";
				position: absolute;
				display: none;
			}

			.idx-checkbox-tick {
				stroke: $white;
				fill: "transparent";
				stroke-width: 1.5;
				padding: 1px;
				width: 100%;
				height: 100%;
			}
		}
	}

	&.idx-checkbox-checked {
		.idx-checkbox-checkmark {
			background-color: $main-color !important;
		}
	}

	&.idx-checkbox-disabled {
		.idx-checkbox-container {
			cursor: not-allowed;
		}
	}
}
