$copy-input-icon-bg: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, $gray-6 5%, $gray-6 100%);

.idx-copy-input {
	cursor: pointer;
	position: relative;

	&.idx-input {
		@extend .idx-pr-6;
	}

	input {
		cursor: pointer !important;
		margin-right: 0 !important;
		user-select: none;
		-webkit-touch-callout: none;
		overflow: hidden;
		word-break: normal;
		text-overflow: ellipsis;

		&::selection {
			color: inherit;
		}
	}

	&__button {
		@include no-select;
		height: 100%;
		align-items: center;
		background: transparent;
		position: absolute;
		right: 0;
		background: $gray-1;

		&:hover {
			cursor: pointer;
			background: $copy-input-icon-bg;
		}

		.idx-copy-input__icon {
			@extend .idx-ml-2;
			@extend .idx-mr-2;
		}

		.idx-copy-input__text {
			@extend .idx-mr-4;
			overflow: hidden;
			display: none;
		}

		&.copied {
			background: $copy-input-icon-bg;

			.idx-copy-input__text {
				@extend .idx-ml-2;
				display: flex;
				-webkit-animation: slideIn 2s forwards;
				animation: slideIn 2s forwards;
			}
		}
	}
}
