.idx-copy-input {
	cursor: pointer;
	position: relative;

	&.idx-input {
		@extend .idx-pr-6;
		overflow: hidden;
	}

	input {
		cursor: pointer !important;
		margin-right: 0 !important;
		user-select: none;
		-webkit-touch-callout: none;
		overflow: hidden;
		word-break: normal;
		text-overflow: ellipsis;

		&::selection {
			color: inherit;
		}
	}

	&__button {
		@include no-select;
		height: 100%;
		align-items: center;
		background: transparent;
		position: absolute;
		right: 0;

		&:hover {
			cursor: pointer;
			background: $copy-input-icon-bg;
		}

		.idx-copy-input__icon {
			@extend .idx-ml-2;
			@extend .idx-mr-2;
			flex-shrink: 0;
		}

		.idx-copy-input__text {
			@extend .idx-mr-4;
			overflow: hidden;
			margin: 0;
			flex-basis: 0;
			max-width: 0;
		}

		&.copied {
			background: $copy-input-icon-bg;

			.idx-copy-input__text {
				@extend .idx-mx-2;
				overflow: hidden;
				-webkit-animation: flexSlideIn 0.2s forwards;
				animation: flexSlideIn 0.2s forwards;
			}
		}
	}
}
