.avatar {
	@include no-select;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	color: $white;
	overflow: hidden;
	
	&.avatar-circle {
		border-radius: 2px;
	}

	&.avatar-square {
		border-radius: $border-radius-base;
	}

	&.avatar-hoverable {
		&:hover {
			box-shadow: $avatar-box-shadow;
			transform: inherit scale(1.1);
			transition: all .2s ease-in;
			cursor: pointer;
		}
	}

	.icon {
		stroke: $white;
		width: 2rem;
		height: 2rem;
	}

	img {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
	}
}