.idx-button {
	@include no-select;
	@include responsive-sizes($input-height, "height");

	border: 1px solid;
	border-radius: $border-radius-base;
	padding: 0 map-deep-get($spacing, "xs", "6");
	line-height: 0;
	font-weight: 500;
	background-color: $main-color;
	color: $white;
	width: fit-content;

	&:hover {
		transition: $transition-bg;
		background-color: darken($main-color, $hover-darken);
	}

	&:focus-visible {
		outline: none;
	}

	&:active,
	&:visited {
		transition: none;
		background-color: lighten($main-color, $visited-lighten);
	}

	&[disabled] {
		cursor: not-allowed;
		background-color: map-get($button-bg, "disabled") !important;
	}

	@each $key, $value in $button-bg {
		&.idx-button-#{$key} {
			@if str-index($key, "outlined") != null {
				@include button-color(
					map-get($button-color, $key),
					$white,
					$hover-darken,
					$visited-lighten,
					$transition-bg,
					$outlined: true
				);
			} @else {
				@include button-color($white, $value, $hover-darken, $visited-lighten, $transition-bg, $outlined: false);
			}
		}
	}

	&.idx-button-ghost {
		@include button-color($main-color, transparent, $hover-darken, $visited-lighten, $transition-bg, $outlined: true);
		border: none;
	}

	&.idx-button-link {
		@include button-color($blue, $white, $hover-darken, $visited-lighten, $transition-bg, $outlined: true);
		border: none;
	}

	&.idx-button-clear {
		background-color: $white;
		color: $gray-4;
		border-color: $border-color;
	}

	&.idx-button-block {
		display: block;
		width: 100%;
	}

	& + .idx-button {
		margin-left: map-deep-get($spacing, "xs", "3");
	}

	.idx-icon {
		height: 1.4rem;
		width: auto;
	}

	.idx-button-inner {
		height: 100%;
		.idx-icon {
			display: flex;
		}
	}

	&.idx-button-addon-b {
		display: inline-block;
		vertical-align: middle;
		.idx-icon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 1.1rem;
		}
	}

	&.idx-button-addon-a {
		display: inline-block;
		vertical-align: middle;
		.idx-icon {
			display: inline-block;
			vertical-align: middle;
			margin-left: 1.1rem;
		}
	}
}
