.idx-collapse {
	// @extend .idx-px-6, .idx-py-6;
	.idx-collapse-header {
		cursor: pointer;

		.idx-collapse-arrow {
			@extend .idx-mr-3;
			stroke: $gray-5;
			vertical-align: middle;
			transition: transform 0.2s;
		}
		.idx-collapse-title {
			vertical-align: middle;
		}
	}

	.idx-collapse-body {
		@extend .idx-mt-5;
		box-sizing: content-box;
		overflow: hidden;
		transition: all 0.2s;
		max-height: 30rem;
	}

	&.idx-collapse-collapsed {
		.idx-collapse-header {
			.idx-collapse-arrow {
				transform: rotate(90deg);
			}
		}

		.idx-collapse-body {
			@extend .idx-mt-0;
			height: 0 !important;
			max-height: 0;
		}
	}
}
