.idx-draggable-list {
	@include no-select;
	display: grid;
	list-style: none;
	margin: 0;
	padding: 0;

	.idx-draggable-list-item {
		cursor: default;
		transition: opacity 0.25s;
		opacity: 1;

		&.idx-draggable-drag-enter {
			// box-shadow: $box-shadow-base;
			// transform: translateY(0);
		}

		&.idx-draggable-drag-active {
			opacity: 0;
			.idx-draggable-drag-icon {
				cursor: grabbing;
			}
		}

		.idx-draggable-list-divider {
			height: 1px;
			width: 100%;
			background-color: $border-color;
		}


		.idx-draggable-drag-icon-wrapper {
			height: 100%;
			width: fit-content;
			float: left;
			align-items: center;
			margin-right: 1.5rem;
		}

		&:hover {
			.idx-draggable-drag-icon {
				opacity: 1;
			}
		}
	}


	.idx-draggable-drag-icon {
		opacity: 0;
		transition: opacity .2s ease-in-out;
		cursor: grab;
	}
	
	&.idx-draggable-list-dragging {
		.idx-draggable-drag-icon {
			cursor: grabbing;
			opacity: 0 !important;
		}
	}
}


.idx-draggable-drag-icon {
	position: absolute;
	left: 3rem;
}