.idx-input {
	@include responsive-sizes($input-height, "height");
	display: inline-block;
	border: $border-base;
	border-radius: $border-radius-base;
	padding-left: map-deep-get($spacing, "xs", "6");
	padding-right: map-deep-get($spacing, "xs", "6");
	line-height: 0;
	align-items: center;

	& input {
		border: none;
		flex-grow: 1;
		height: 100%;
		outline: none;
	}

	& input:focus, & input:focus-visible {
		outline: none;
		outline-width: 0 !important;
	}

	&.idx-input-block {
		width: 100%;
	}

	& input::placeholder {
		color: $secondary-text-color;
	}

	&.idx-input-disabled,
	&.idx-input-readonly {
		background-color: $input-disabled-bg !important;
		color: $secondary-text-color;

		input {
			background-color: $input-disabled-bg !important;
			color: $secondary-text-color;
		}
	}

	&.idx-input-add-on-before {
		input {
			margin-left: map-deep-get($spacing, "xs", "6");
		}
	}

	&.idx-input-add-on-after {
		input {
			margin-right: map-deep-get($spacing, "xs", "6");
		}
	}

	&.idx-input-ghost {
		border: none;
		height: auto;
		padding-left: 0;
		padding-right: 0;
		input {
			background-color: transparent;
		}
	}
}
