.idx-list {
	@include no-select;
	display: grid;
	list-style: none;
	margin: 0;
	padding: 0;

	.idx-list-item {
		background-color: rgba($white, .8);
		cursor: default;
		opacity: 1;

		.idx-list-divider {
			height: 1px;
			width: 100%;
			background-color: $border-color;
		}
	}
}
