.popup {
	display: inline-block;
	position: relative;

	.popup-menu {
		@include no-select;
		list-style: none;
		padding: 0;
		position: absolute;
		border-radius: $border-radius-base;
		background-color: $white;
		box-shadow: $box-shadow-base-half;
		color: $gray-4;
		font-weight: normal;
		font-size: map-deep-get($font-size, "xs", "xs");
		line-height: map-deep-get($font-line-height, "xs", "xs");
		z-index: map-get($z-index, "dropdown");
		width: max-content;
		word-break: break-all;
		max-width: 20rem;

		&.popup-menu-bottom-center {
			left: 50%;
			transform: translateX(-50%);
			margin-top: $dropdown-spacing;
		}

		&.popup-menu-bottom-left {
			left: 0;
			margin-top: $dropdown-spacing;
		}

		&.popup-menu-bottom-right {
			right: 0;
			margin-top: $dropdown-spacing;
		}

		&.popup-menu-top-center {
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			margin-bottom: $dropdown-spacing;
		}

		&.popup-menu-top-left {
			bottom: 100%;
			left: 0;
			margin-bottom: $dropdown-spacing;
		}

		&.popup-menu-top-right {
			bottom: 100%;
			right: 0;
			margin-bottom: $dropdown-spacing;
		}
	}
}
