.radio-group {
	.radio-group-button {
		@extend .idx-px-2;
		&.btn:hover {
			background-color: unset !important;
		}
		&.radio-group-button-selected {
			&.btn {
				background-color: $gray-8;
				&:hover {
					background-color: $gray-8 !important;
				}
			}
		}
	}

	.tag {
		border: $border-base;
	}
}
