.radio-group {
	border: $border-base;
	border-radius: $border-radius-base;
	.radio-group-button {
		@extend .px-3;
		&.btn:hover {
			background-color: unset !important;
		}
		&.radio-group-button-selected {
			&.btn {
				background-color: $gray-6;
				color: $main-color;
				&:hover {
					background-color: $gray-6 !important;
				}
			}
		}
	}
}
