.idx-switch {
	width: 3rem;
	height: $switch-height-md;
	background-color: $gray-2;
	border-radius: $border-radius-base * 2;
	padding: 0;
	border:none;
	align-items: center;
	position: relative;
	padding: 1px;
	transition: background .2s ease-in-out;
	vertical-align: middle;


	@each $key, $value in $common-colors {
		&-#{$key}.idx-switch-checked {
			background-color: $value;
		}
	}

	.idx-switch-knob {
		background-color: white;
		width: $switch-height-md - .2;
		height: $switch-height-md - .2;
		border-radius: 100%;
		transition: transform .2s ease-in-out;
	}

	&.idx-switch-checked {
		.idx-switch-knob {
			transform: translateX(100%);
		}
	}
}