[submodule "packages/edge-city/agentvillage"]
	path = packages/edge-city/agentvillage
	url = https://github.com/Edge-City/agentvillage.git
[submodule "packages/edge-city/agentvillage-landing"]
	path = packages/edge-city/agentvillage-landing
	url = git@github.com:Edge-City/agentvillage-landing.git
	branch = main
[submodule "packages/edge-city/agentvillage-controlplane"]
	path = packages/edge-city/agentvillage-controlplane
	url = git@github.com:Edge-City/agentvillage-controlplane.git
	branch = main
