.descLine {
  font-family: "Freizeit";
  color: var(--main);
}

.video {
  border: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
