.blueTitle {
	font-family: "Roquefort";
  font-size: 4rem;
  font-weight: 300;
  line-height: 4.2rem;
  color: var(--blue);
  margin-bottom: 2.4rem;
}

.descLine {
  font-family: "Freizeit";
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--main);
}

.mbMd {
  margin-bottom: 2.4rem;
}
