.divider {
	background-color: $border-color;

	&.divider-horizontal {
		height: 1px;
		width: 100%;
		margin-top: map-deep-get($spacing, "xs", "3");
		margin-bottom: map-deep-get($spacing, "xs", "3");
	}
	&.divider-vertical {
		width: 1px;
		height: 100%;
		margin-left: map-deep-get($spacing, "xs", "3");
		margin-right: map-deep-get($spacing, "xs", "3");
	}
}
