.index-list-item {
	.index-list-item-menu {
		.index-list-item-menu-btn {
			vertical-align: middle;
			cursor: pointer;
		}
	}

	@media (min-width: map-get($breakpoints, "lg")) {
		.index-list-item-menu-btn {
			opacity: 0;
			cursor: pointer;
		}

		&:hover {
			.index-list-item-menu-btn {
				opacity: 1;
			}
		}
	}
}