.lnd-container {
	.lnd-card {
		padding-top: 15rem;
		padding-bottom: 15rem;
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;

		.lnd-desc {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
		}

		.lnd-title {
			flex-basis: 100%;
		}
	}

	.lnd-features {
		flex-direction: column;
		gap: 1.5rem;

		.lnd-icon-desc {
			@extend .mt-6;

			&-icon {
				flex-shrink: 0;
			}
			&-text {
				flex-direction: column;
			}
		}
	}

	@media (min-width: map-get($breakpoints, "sm")) {
		.lnd-first {
			padding-top: 8rem;
			padding-bottom: 8rem;
			.lnd-img {
				max-width: 48rem;
			}

			&.lnd-card {
				min-height: 45rem;
			}
		}

		.lnd-img {
			flex-basis: 50%;
		}
		.lnd-steps {
			margin-left: calc((100vw - 964px) / 2);
		}
		.lnd-card {
			flex-direction: row;
			min-height: 30rem;
			.lnd-desc {
				text-align: left;
				align-items: flex-start;
				width: 45rem;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}

			.lnd-lottie {
				opacity: 0;
				transition: opacity .3s ease;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				&.lnd-lottie-fade {
					opacity: 1;
				}
			}
		}

		.lnd-features {
			margin-top: 0;
			flex-direction: column;
			gap: map-deep-get($spacing, "xs", "8");
			max-width: 43rem;
			flex-basis: 50%;
			.lnd-icon-desc {
				flex-direction: row;
			}
		}
	}
}
