.lnd-container {
	.lnd-card {
		display: flex;

		flex-direction: column;
		flex-wrap: wrap;

		.lnd-desc {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		.lnd-title {
			flex-basis: 100%;
		}

		.lnd-section-title {
			font-size: 3.2rem;
			line-height: 4rem;
		}
	}

	.lnd-desc-link {
		width: 100%;
	}


	.lnd-features {
		flex-direction: column;
		.lnd-icon-desc {
			&-icon {
				flex-shrink: 0;
			}
			&-text {
				flex-direction: column;
			}
		}
	}

	.lnd-2-container {
		align-items: flex-start !important;
	}

	.lnd-5-title {
		font-size: 3.6rem;
		line-height: 4.4rem;
	}

	.lnd-5-img {
		width: auto;
		object-fit: contain;
		height: 40px;
		margin-bottom: 1.6rem;
	}

	.lnd-5-text {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}


	.lnd-5-list {
		row-gap: map-deep-get($spacing, "xs", "6");
	}

	.lnd-steps {
		align-items: flex-start;
	}

	.lnd-7-title {
		font-family: Roquefort;
		color: var(--gray-5);
		font-size: 3.2rem;
		line-height: 3.8rem;
		margin-bottom: 3.2rem;
		text-align: center;
		font-weight: normal;
	}



	@media (min-width: map-get($breakpoints, "sm")) {
		.lnd-2-container {
			align-items: center !important;
		}


		.lnd-img {
			flex-basis: 50%;
		}
		.lnd-steps {
			margin-left: calc((100vw - 964px) / 2);
		}
		.lnd-card {
			flex-direction: row;

			.lnd-section-title {
				font-size: 4.5rem;
				line-height: 4.9rem;
			}

			.lnd-desc {
				align-items: flex-start;
				width: 45rem;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				text-align: left;
			}

			.lnd-lottie {
				opacity: 0;
				transition: opacity 0.3s ease;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				&.lnd-lottie-fade {
					opacity: 1;
				}
			}
		}



		.lnd-5-title {
			font-size: 6rem;
			line-height: 7.38rem;
		}


		.lnd-5-list {
			row-gap: map-deep-get($spacing, "xs", 4);
		}

		.lnd-7-title {
			font-size: 4rem;
			line-height: 5.2rem;
			margin-bottom: 3.8rem;
		}
	}
}
