.title {
  font-family: Roquefort;
  color: var(--gray-5);
  font-size: 4rem;
  font-weight: 300;
  line-height: 5.2rem;
  margin-bottom: 3.8rem;
  text-align: center;
}

.container {
  margin-bottom: 14rem;
}