.index-details-page {

	.index-detail-menu-btn {
		border: $border-base;
		border-radius: $border-radius-base;
		height: 2.8rem;
		width: 2.8rem;
		padding: .6rem;
		cursor: pointer;
		transition: $transition-bg;

		&:hover {
			background-color: $hover-color;
		}
	}

	.header-input input:disabled{
		color: $black !important;
		background-color: $white !important
	}
	.header-input.input-disabled{
		color: $black !important;
		background-color: $white !important
	}


}
.listItem{
	position:static;
	width: 607px;
	height: 30px;
	left: calc(50% - 607px/2 - 31.5px);
	top: calc(50% - 30px/2);
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #3F3F3F;
}