/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
} */

@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url("/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-weight: 800;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Freizeit";
  src:
    url("/fonts/Freizeit-Regular.woff2") format("woff2"),
    url("/fonts/Freizeit-Regular.woff") format("woff"),
    url("/fonts/Freizeit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Freizeit";
  src:
    url("/fonts/Freizeit-Bold.woff2") format("woff2"),
    url("/fonts/Freizeit-Bold.woff") format("woff"),
    url("/fonts/Freizeit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roquefort;
  font-weight: 400;
  src: url("/fonts/Roquefort-Standard.woff2") format("woff2");
}
