.title {
  font-size: 4.5rem;
  line-height: 5.7rem;
}

.ttlContainer {
  max-width: 45rem;
}

.descLine {
  font-family: "Freizeit";
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--main);
}

.mbMd {
  margin-bottom: 2.4rem;
}
