html {
	font-size: $font-size-base + px;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size: map-get($font-size, "md");
	line-height: map-get($font-line-height, "md");
	color: $primary-text-color;
	background-color: $white;
}
