.container {
	align-items: center;
	display: flex;
}

.withBg {
	background-image: url("/images/Texture.webp");
	background-repeat: repeat;
}

.dark {
	background-color: var(--landing);
}

.light {
	background-color: white;
}