{
  "openapi": "3.0.3",
  "info": {
    "title": "Index Network API",
    "description": "Comprehensive REST API for the Index Network Protocol - enabling private, intent-driven discovery through a network of autonomous agents.",
    "version": "1.0.0",
    "contact": {
      "name": "Index Network",
      "url": "https://index.network",
      "email": "support@index.network"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.index.network/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001/api",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication token obtained from the auth endpoint"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "avatar": {
            "type": "string",
            "format": "uri"
          },
          "intro": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "tags": [
          "links"
        ],
        "summary": "Get all items with pagination",
        "operationId": "links_get__",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "links"
        ],
        "summary": "Get all items with pagination",
        "operationId": "links_post__",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "url parameter"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{id}": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get single item by ID",
        "operationId": "users_get___id_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Get single item by ID",
        "operationId": "users_put___id_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the item"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Get single item by ID",
        "operationId": "users_delete___id_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Get single item by ID",
        "operationId": "auth_get__me",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/profile": {
      "patch": {
        "tags": [
          "auth"
        ],
        "summary": "Update an existing item",
        "operationId": "auth_patch__profile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/privy-user": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Get single item by ID",
        "operationId": "auth_get__privy-user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account": {
      "delete": {
        "tags": [
          "auth"
        ],
        "summary": "Delete an item",
        "operationId": "auth_delete__account",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/by-user": {
      "post": {
        "tags": [
          "connections"
        ],
        "summary": "API endpoint operation",
        "operationId": "connections_post__by-user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "type parameter"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number for pagination (default: 1)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actions": {
      "post": {
        "tags": [
          "connections"
        ],
        "summary": "Prevent self-connections",
        "operationId": "connections_post__actions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetUserId": {
                    "type": "string",
                    "description": "targetUserId parameter"
                  },
                  "action": {
                    "type": "string",
                    "description": "action parameter"
                  }
                },
                "required": [
                  "targetUserId",
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/status/{targetUserId}": {
      "get": {
        "tags": [
          "connections"
        ],
        "summary": "Get latest connection event between these users",
        "operationId": "connections_get__status__targetUserId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "targetUserId",
            "in": "path",
            "required": true,
            "description": "targetUserId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/filter": {
      "post": {
        "tags": [
          "discover"
        ],
        "summary": "API endpoint operation",
        "operationId": "discover_post__filter",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "intentIds": {
                    "type": "string",
                    "description": "intentIds parameter"
                  },
                  "intentIds.*": {
                    "type": "string",
                    "description": "intentIds.* parameter"
                  },
                  "userIds": {
                    "type": "string",
                    "description": "userIds parameter"
                  },
                  "userIds.*": {
                    "type": "string",
                    "description": "userIds.* parameter"
                  },
                  "indexIds": {
                    "type": "string",
                    "description": "indexIds parameter"
                  },
                  "indexIds.*": {
                    "type": "string",
                    "description": "indexIds.* parameter"
                  },
                  "sources": {
                    "type": "string",
                    "description": "sources parameter"
                  },
                  "sources.*.type": {
                    "type": "string",
                    "description": "sources.*.type parameter"
                  },
                  "sources.*.id": {
                    "type": "string",
                    "description": "sources.*.id parameter"
                  },
                  "excludeDiscovered": {
                    "type": "boolean",
                    "description": "excludeDiscovered parameter"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number for pagination (default: 1)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/index/share/{code}/by-user": {
      "get": {
        "tags": [
          "discover"
        ],
        "summary": "Check access to the shared index",
        "operationId": "discover_get__index_share__code__by-user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "code parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{fileId}": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "Get single item by ID",
        "operationId": "files_get___fileId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "fileId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "files"
        ],
        "summary": "Check if file exists and user has access",
        "operationId": "files_delete___fileId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "fileId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/search-users": {
      "get": {
        "tags": [
          "indexes"
        ],
        "summary": "Search items",
        "operationId": "indexes_get__search-users",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "q parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{id}/members": {
      "post": {
        "tags": [
          "indexes"
        ],
        "summary": "Validate user exists",
        "operationId": "indexes_post___id__members",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "User ID"
                  },
                  "permissions": {
                    "type": "array",
                    "description": "Array of permission strings"
                  },
                  "permissions.*": {
                    "type": "boolean",
                    "description": "permissions.* parameter"
                  }
                },
                "required": [
                  "userId",
                  "permissions",
                  "permissions.*"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "indexes"
        ],
        "summary": "Get single item by ID",
        "operationId": "indexes_get___id__members",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{id}/members/{userId}": {
      "delete": {
        "tags": [
          "indexes"
        ],
        "summary": "Check if member exists",
        "operationId": "indexes_delete___id__members__userId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "userId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "indexes"
        ],
        "summary": "Validate permissions",
        "operationId": "indexes_patch___id__members__userId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "userId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "array",
                    "description": "Array of permission strings"
                  },
                  "permissions.*": {
                    "type": "boolean",
                    "description": "permissions.* parameter"
                  }
                },
                "required": [
                  "permissions",
                  "permissions.*"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{id}/leave": {
      "post": {
        "tags": [
          "indexes"
        ],
        "summary": "Check if user is a member",
        "operationId": "indexes_post___id__leave",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{id}/link-permissions": {
      "patch": {
        "tags": [
          "indexes"
        ],
        "summary": "Validate link permissions",
        "operationId": "indexes_patch___id__link-permissions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "array",
                    "description": "Array of permission strings"
                  },
                  "permissions.*": {
                    "type": "boolean",
                    "description": "permissions.* parameter"
                  }
                },
                "required": [
                  "permissions",
                  "permissions.*"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{id}/member-settings": {
      "get": {
        "tags": [
          "indexes"
        ],
        "summary": "Use existing access control method",
        "operationId": "indexes_get___id__member-settings",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "indexes"
        ],
        "summary": "Use existing access control method",
        "operationId": "indexes_put___id__member-settings",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "prompt parameter"
                  },
                  "autoAssign": {
                    "type": "string",
                    "description": "autoAssign parameter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/share/{code}": {
      "get": {
        "tags": [
          "indexes"
        ],
        "summary": "Get single item by ID",
        "operationId": "indexes_get__share__code_",
        "security": [],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "code parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{indexId}/intents/{intentId}": {
      "delete": {
        "tags": [
          "indexes"
        ],
        "summary": "Check if intent exists",
        "operationId": "indexes_delete___indexId__intents__intentId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "description": "intentId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "indexId",
            "in": "path",
            "required": true,
            "description": "indexId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/share/{code}/intents": {
      "post": {
        "tags": [
          "indexes"
        ],
        "summary": "Access via share code",
        "operationId": "indexes_post__share__code__intents",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "code parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "Content or description"
                  }
                },
                "required": [
                  "payload"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{indexId}/intents": {
      "get": {
        "tags": [
          "indexes"
        ],
        "summary": "API endpoint operation",
        "operationId": "indexes_get___indexId__intents",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "required": true,
            "description": "indexId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{id}/member-intents": {
      "get": {
        "tags": [
          "indexes"
        ],
        "summary": "Use existing access control method",
        "operationId": "indexes_get___id__member-intents",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{id}/member-intents/{intentId}": {
      "post": {
        "tags": [
          "indexes"
        ],
        "summary": "Use existing access control method",
        "operationId": "indexes_post___id__member-intents__intentId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "description": "intentId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "indexes"
        ],
        "summary": "Use existing access control method",
        "operationId": "indexes_delete___id__member-intents__intentId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "description": "intentId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/connect/{integrationType}": {
      "post": {
        "tags": [
          "integrations"
        ],
        "summary": "Check if already connected",
        "operationId": "integrations_post__connect__integrationType_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationType",
            "in": "path",
            "required": true,
            "description": "integrationType parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "409": {
            "description": "HTTP 409"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/status/{connectionRequestId}": {
      "get": {
        "tags": [
          "integrations"
        ],
        "summary": "Get integration record",
        "operationId": "integrations_get__status__connectionRequestId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionRequestId",
            "in": "path",
            "required": true,
            "description": "connectionRequestId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{integrationType}": {
      "delete": {
        "tags": [
          "integrations"
        ],
        "summary": "First, disconnect from Composio",
        "operationId": "integrations_delete___integrationType_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "integrationType",
            "in": "path",
            "required": true,
            "description": "integrationType parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/list": {
      "post": {
        "tags": [
          "intents"
        ],
        "summary": "API endpoint operation",
        "operationId": "intents_post__list",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "description": "Page number for pagination (default: 1)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/library": {
      "get": {
        "tags": [
          "intents"
        ],
        "summary": "Get single item by ID",
        "operationId": "intents_get__library",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{id}/archive": {
      "patch": {
        "tags": [
          "intents"
        ],
        "summary": "Check if intent exists and user owns it",
        "operationId": "intents_patch___id__archive",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{id}/unarchive": {
      "patch": {
        "tags": [
          "intents"
        ],
        "summary": "Check if intent exists and user owns it",
        "operationId": "intents_patch___id__unarchive",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/suggest-tags": {
      "post": {
        "tags": [
          "intents"
        ],
        "summary": "API endpoint operation",
        "operationId": "intents_post__suggest-tags",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "prompt parameter"
                  },
                  "indexId": {
                    "type": "string",
                    "description": "Index ID"
                  },
                  "maxSuggestions": {
                    "type": "string",
                    "description": "maxSuggestions parameter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{linkId}": {
      "delete": {
        "tags": [
          "links"
        ],
        "summary": "Delete an item",
        "operationId": "links_delete___linkId_",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "description": "linkId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{linkId}/content": {
      "get": {
        "tags": [
          "links"
        ],
        "summary": "Get single item by ID",
        "operationId": "links_get___linkId__content",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "description": "linkId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "HTTP 202"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/intents": {
      "get": {
        "tags": [
          "suggestions"
        ],
        "summary": "Check access",
        "operationId": "suggestions_get__intents",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "indexId",
            "in": "path",
            "required": true,
            "description": "indexId parameter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/now": {
      "post": {
        "tags": [
          "sync"
        ],
        "summary": "Fire and forget async sync",
        "operationId": "sync_post__now",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "provider parameter"
                  },
                  "params": {
                    "type": "string",
                    "description": "params parameter"
                  }
                },
                "required": [
                  "provider"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "HTTP 202"
          },
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/vibecheck": {
      "post": {
        "tags": [
          "synthesis"
        ],
        "summary": "Prevent self-synthesis",
        "operationId": "synthesis_post__vibecheck",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetUserId": {
                    "type": "string",
                    "description": "targetUserId parameter"
                  },
                  "intentIds": {
                    "type": "string",
                    "description": "intentIds parameter"
                  },
                  "intentIds.*": {
                    "type": "string",
                    "description": "intentIds.* parameter"
                  },
                  "indexIds": {
                    "type": "string",
                    "description": "indexIds parameter"
                  },
                  "indexIds.*": {
                    "type": "string",
                    "description": "indexIds.* parameter"
                  },
                  "options": {
                    "type": "string",
                    "description": "options parameter"
                  }
                },
                "required": [
                  "targetUserId"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/avatar": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Return just the filename - frontend will construct the full URL",
        "operationId": "upload_post__avatar",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/intent-suggestion": {
      "post": {
        "tags": [
          "vibecheck"
        ],
        "summary": "Must have either files or payload",
        "operationId": "vibecheck_post__intent-suggestion",
        "security": [],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "Content or description"
                  },
                  "indexCode": {
                    "type": "string",
                    "description": "indexCode parameter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Invalid parameters or validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/temp/{fileId}": {
      "get": {
        "tags": [
          "vibecheck"
        ],
        "summary": "Set proper content type based on file extension",
        "operationId": "vibecheck_get__temp__fileId_",
        "security": [],
        "parameters": [],
        "responses": {
          "404": {
            "description": "Not Found - Resource does not exist"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "agents",
      "description": "AI agent management and operations"
    },
    {
      "name": "auth",
      "description": "Authentication and user session management"
    },
    {
      "name": "connections",
      "description": "User connections and networking"
    },
    {
      "name": "discover",
      "description": "Discovery and search functionality"
    },
    {
      "name": "files",
      "description": "File upload, storage, and management"
    },
    {
      "name": "indexes",
      "description": "Index creation, management, and membership"
    },
    {
      "name": "integrations",
      "description": "External service integrations"
    },
    {
      "name": "intents",
      "description": "Intent creation, management, and discovery"
    },
    {
      "name": "links",
      "description": "Link sharing and management"
    },
    {
      "name": "suggestions",
      "description": "AI-generated suggestions and recommendations"
    },
    {
      "name": "sync",
      "description": "Data synchronization and updates"
    },
    {
      "name": "synthesis",
      "description": "AI-powered synthesis and insights generation"
    },
    {
      "name": "upload",
      "description": "File upload handling and processing"
    },
    {
      "name": "users",
      "description": "User profile and account management"
    },
    {
      "name": "vibecheck",
      "description": "Compatibility analysis and vibe checking"
    }
  ]
}