@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url("/fonts/Inter-Light.otf") format("opentype");
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url("/fonts/Inter-Medium.otf") format("opentype");
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("/fonts/Inter-Regular.otf") format("opentype");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url("/fonts/Inter-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("/fonts/Inter-Bold.otf") format("opentype");
}

@font-face {
  font-family: Inter;
  font-weight: 800;
  src: url("/fonts/Inter-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: Freizeit;
  src: url("/fonts/Freizeit-Regular.woff");
}

@font-face {
  font-family: Freizeit;
  font-weight: 700;
  src: url("/fonts/Freizeit-Bold.woff");
}

@font-face {
  font-family: Roquefort;
  font-weight: 400;
  src: url("/fonts/Roquefort-Standard.woff");
}