.title {
  font-size: 2.8rem;
  line-height: 3.5rem;
}

.descLine {
  font-family: "Freizeit";
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--main);
}

.img {
  width: 100%;
}

.mbMd {
  margin-bottom: 2.4rem;
}
