.title {
  font-size: 4rem;
  line-height: 4.9rem;
  text-align: center;
}

.descLine {
  font-family: "Freizeit";
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--main);
}

.img {
  width: 100%;
}

.mbMd {
  margin-bottom: 2.4rem;
}

.usecase{
  padding-left:20px;
  margin-bottom:1rem;

}
.usecase .usecaseDetail{
  display:none !important;
}
.usecaseActive .usecaseDetail{
  display:block;
}
.usecaseActive{
  border-left: 5px solid blue;
  padding-left: 15px;
  margin-bottom:2rem;
}
